// Navigation code here

.headercontain {
    background: #F5F5F5;
    height: 60px;
    .mixin2();
}
    
    

    #title {
        font-size: 30px;
    }

    .navflex {
        .mixin1();
        display: flex;
        justify-content: space-between;

        @media @mobile {
            font-size: 1.2rem;
            width: 70%;
        }

        
    
    }
    


a {
    text-decoration: none;
    color: @header-font-color;
}



