// Navigation code here

.headercontain {
    background: #F5F5F5;
    height: 60px;
    .mixin2();
    position: fixed; 
    width: 100%;
   



    .navflex {
        width: 30%;
        display: flex;
        justify-content: space-between;
  

        @media @mobile {
            font-size: 1.2rem;
            width: 70%;
        }

        
    
    }
}
    
    

    #title {
        font-size: 30px;
    }

    
    






